<% provide(:title, @collection.title) %>
<!-- <div class="row">
	<div class="span4">


 -->
 <div class="row">
 	<div class="col-md-6 col-md-offset-1">
		<%= link_to "Edit", edit_collection_path(@collection) %>
			<h1>
				<%= @collection.title %>
			</h1>
			<h2>
				<%= @collection.description %>
			</h2>

				<%= image_tag @collection.image %>

			<% @collection.videos.each do |video| %>
			<h2><%= video.title %></h2>
			<%= video video.youtube_id %>

			<%= link_to "Delete", video, :confirm => "Are you sure you want to delete this video?", :method => :delete %>

			<% end %>

			<h4>
				<p>Followers: </p>
				<%= @collection.followers.count %>
			</h4>
			<h5>
				<%= button_to(@collection) do |f| %>
				<%= @user.follow(@collection) %>
				<% end %>
			</h5>
	</div>
</div>

