<% provide(:title, @collection.title) %>
<!-- <div class="row">
	<div class="span4">

-->
<div class="container">
	 <div class="row">
	 			
					<h1>
						<%= link_to @collection.title %>
					</h1>
					<h2>
						<%= @collection.description %>
					</h2>

					<%= link_to "Edit", edit_collection_path(@collection), class: "btn edit-btn" %>

		 			<% if signed_in? %>
						<% if @collection.followed_by?(current_user) %>
						<%= link_to "Stop Following", stop_following_collection_path(@collection), :method => :patch, class: "btn unfollow-btn" %>
						<% else %>
						<%= link_to "Follow Collection", user_follow_collection_path(@collection), :method => :patch, class: "btn follow-btn" %>
						<% end %>
					<% end %>

					<%= image_tag @collection.image %>

					<% @collection.videos.each do |video| %>
					<h2><%= link_to video.title, video_path(video) %></h2>
					<%= video_helper video.youtube_id.to_s %>

					<% end %>
			</div>
		</div>
	</div>
</div>

