<% provide(:title, 'Edit user') %> 
	<div class='text-center'>
		<h1>Update your profile</h1>
	</div> 

<div class="row">
	<div class='text-center'> 
		<div class="span6 offset3">
			<%= form_for(@user) do |f| %>
				<%= render 'shared/error_messages', object: f.object %>

					<%= f.label :name %>
					<%= f.text_field :name %>

					<%= f.label :email %>
					<%= f.text_field :email %>

					<%= f.label :password %>
					<%= f.password_field :password %>

					<%= f.label :password_confirmation, "Confirm Password" %>
					<%= f.password_field :password_confirmation %>

					<p>Delete Account</p>
					<p1>We'd hate to see you leave. You're always welcome back. 
						Deleted accounts cannot be recovered.</p>
					
					<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
			<% end %> 	
		</div>
	</div>
</div>