<% provide(:title, 'Sign up') %>

<div class="container">
	<div id="sign-in-form">
	<h1>Sign up</h1>
	<h5>Register an account now and start collecting videos.</h5>
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="input-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class="input-group">
		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>
		</div>
		<div class="input-group">
		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>
		</div>
		<div class="input-group">
		<%= f.label :password_confirmation, "Confirm Password" %>
		<%= f.password_field :password_confirmation, class: 'form-control' %>
		</div>
		<%= f.submit 'Create my account', class: 'btn btn-primary btn-lg' %>
		<% end %>
	</div>
</div>