<% provide(:title, @user.name) %> 
<div class="row">
	<aside class="span4"> 
		<section>
			<h1>
				<p>Your name: </p>
				<%= @user.name %>
				<p>Your email address: </p>
				<%= @user.email %>
			</h1>
		</section>
	</aside>
	<% @followed_collections.each do |collection| %>
		<%= collection.title %>
		<%= collection.videos.each do |video| %>
			<%= video video.youtube_id.to_s %>
		<% end %>
	<% end %>
</div> 