<% provide(:title, @user.name) %> 
<div class="container">
<div class="row">
		<section>
			<h1>Hey <%= @user.name %></h1>
			<h5><%= @user.email %></h5>
		</section>
	<h2>Your Collections</h2>
	<% @followed_collections.each do |collection| %>
		<div class="user-collections">
			<h1>Collection: <%= link_to collection.title, collection_path(collection) %></h1>
			<% collection.videos.each do |video| %>
				<h3><%= link_to video.title, video_path(video) %></h3>
				<%= video_helper video.youtube_id.to_s %>
			<% end %>
		</div>
	<% end %>
</div> 
</div>