<div class="container">
		<h2><%= @video.title %></h2>
		<%= video_helper @video.youtube_id %>

	<div class="collection-field">
		<%= form_tag add_video_collections_path, method: :patch do %>
			<%= hidden_field_tag :video_id, @video.id %>

			<%= collection_select(:collection, :id, @collections, :id, :title,
				:include_blank => "Please select a Collection...") %>

			<%= submit_tag 'Add to Collection', class: 'btn btn-large btn-primary' %>
		<% end %>
	</div>

	<div class="comments-field">
	<%= form_for ([@video, @comment]) do |f| %>
		<%= f.text_area :blog, placeholder: 'Share your thoughts...' %>
		<%= f.submit %>
		<% @video.comments.each do |comment| %>
			<div class="comment">
				<%= comment.blog %><br/>
				<span class="time">Written by <%= comment.user.name %> <%= comment.created_at.strftime("on %B %d at %I:%M %p") %></span>
			</div>
		<% end %>
	<% end %>
	</div>






</div>






<!--
	params = {
		collection: {
			collection_id: 1,
			video_id: 1
		}
	}
 -->