<div class="container">
	<div class='text-center'>
		<h2><%= @video.title %></h2>
		<%= video @video.youtube_id %>
	

	<%= form_tag add_video_collections_path, method: :patch do %>
		<%= hidden_field_tag :video_id, @video.id %>

		<%= collection_select(:collection, :id, @collections, :id, :title,
		:include_blank => "Please select a Collection...") %>

		<%= submit_tag 'Add to Collection', class: 'btn btn-large btn-primary' %>

	<% end %>

	</div>
</div>


<!--
	params = {
		collection: {
			collection_id: 1,
			video_id: 1
		}
	}
 -->