<div class="container">
		<h2><%= @video.title %></h2>
		<%= video @video.youtube_id %>

	<div class="collection-field">
		<%= form_tag add_video_collections_path, method: :patch do %>
			<%= hidden_field_tag :video_id, @video.id %>

			<%= collection_select(:collection, :id, @collections, :id, :title,
				:include_blank => "Please select a Collection...") %>

			<%= submit_tag 'Add to Collection', class: 'btn btn-large btn-primary' %>

		<% end %>
	</div>

	<div class="comments">
	<%= form_for ([@video, @comment]) do |f| %>
		<%= f.text_area :blog, placeholder: 'Share your thoughts...' %>
		<%= f.submit %>
		<% @video.comments.each do |comment| %>
			<div class="comment">
				<%= comment.blog %> by:
				<strong><%= comment.user.name %></strong>
			</div>
		<% end %>
	<% end %>
	</div>






</div>






<!--
	params = {
		collection: {
			collection_id: 1,
			video_id: 1
		}
	}
 -->