<% if signed_in? %>
	<div class="row">
		<div class="center hero-unit">
		<h1>Welcome to Viddo!</h1>
		 <%= link_to "Discover Videos", discover_path, class: "btn btn-large btn-primary" %>
		</div>
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
		</aside>
	</div>
<% else %>
	<div class="center hero-unit">

		<h1>Welcome to Viddo! An online video-based platform for discovering, creating and sharing lists of your favourite YouTube videos</h1>
		 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>

<div>
	<% @search_response.data.items.each do |search_result| %>
  		<%= search_result.snippet.title %><br/>
        <div id="player"></div>

  		<div id="player">http://www.youtube.com/watch?v=#{search_result.id}</div><br/>
        <%= video_tag "www.youtube.com/embed/{search_result.id}", controls: :true %><br/>
  	<% end %>
</div>

	<h1>Welcome to Viddo!</h1> 
	<h5>Curating a collection of the world's best videos.</h5>
	<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
	</div>


